<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">
    <!-- 로그인 용 id 및 pw가 일치하는 row select -->
    <select id="login" resultType="com.kedu.newboard.dto.MemberDTO">
        SELECT * FROM member WHERE id = #{id} AND pw = #{pw}
    </select>

    <!-- 마이페이지용 회원정보 ID로 select -->
    <select id="getById" resultType="com.kedu.newboard.dto.MemberDTO">
        SELECT * FROM member WHERE id = #{id}
    </select>

    <!-- 회원가입 register -->
    <insert id="register">
        INSERT INTO member (
        id, pw, name, phone, email, postcode, address1, address2
        ) VALUES (
        #{id}, #{pw}, #{name}, #{phone}, #{email}, #{postcode}, #{address1}, #{address2}
        )
    </insert>

    <!-- 회원정보 수정 -->
    <update id="updateById">
        UPDATE member SET
        phone = #{phone},
        email = #{email, jdbcType=VARCHAR},
        postcode = #{postcode, jdbcType=VARCHAR},
        address1 = #{address1, jdbcType=VARCHAR},
        address2 = #{address2, jdbcType=VARCHAR}
        WHERE id = #{id}
    </update>

    <!-- 회원 탈퇴 -->
    <delete id="deleteById">
        DELETE FROM member WHERE id = #{id}
    </delete>
</mapper>